:root {
    --azul: #0070E0;
    --azul-escuro: #243548;
    --branco: #FFFFFF;
    --cinza: #868686;
    --dourado: #BEB081;
    --dourado-escuro: #A0915F;

    --border: var(--dourado);
    --email-icon: var(--dourado-escuro);
    --footer-txt: var(--branco);
    --linkedin-icon: var(--azul);
    --links: var(--azul);
    --main-border: var(--dourado-escuro);
    --menu-icon: var(--dourado);
    --navbar-bg: var(--azul-escuro);
    --navbar-links: var(--dourado);
    --titulo-princ: var(--dourado);
    --titulo-sec: var(--dourado-escuro);
    --txt-base: var(--cinza);
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Thin.ttf');
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-display: swap;
    color: var(--txt-base);
}

body {
    /*Primeiro min-height serve como fallback para caso os restantes não funcionem*/
    min-height: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

nav {
    padding-block: 1rem;
    background-color: var(--navbar-bg);
    display: flex;
    justify-content: center;
    position: relative;
}

nav img {
    height: 36px;
}

nav i {
    position: absolute;
    font-size: 32px;
    right: 32px;
    top: calc(50% - 16px);
    color: var(--menu-icon);
}

nav div {
    position: absolute;
    top: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    overflow: hidden;
    /* Necessário para menu mobile */
    background-color: var(--navbar-bg);
}

.closed {
    height: 0;
}

nav div a {
    text-decoration: none;
    display: none;
    font-size: medium;
    color: var(--navbar-links);
}

nav div a:last-of-type {
    margin-bottom: 2rem;
}

h1 {
    color: var(--titulo-princ);
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

h2 {
    color: var(--titulo-sec);
    font-size: medium;
    font-weight: bold;
}

.golden-border {
    border: 2px solid var(--border);
    padding: 1rem 2rem;
}

.hero {
    height: 150px;
    background-position: center;
    display: grid;
    place-items: center;
    background-size: cover;
}

section#inicial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("./assets/hero.png");
}

section#inicial h1 {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

section#equipe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("./assets/equipe.png");
}

section#propostas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("./assets/produtos.png");
}

section#contato {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("./assets/contato.jpg");
}

section#politicas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("./assets/nossosprodutos.jpg");
}

main {
    border-top: 4px solid var(--main-border);
    display: flex;
    flex-grow: 1;
    flex-direction: column; 
}

main.inicial {
    gap: 2rem;
    padding: 2rem;
}

main.inicial div {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-inline: 1rem;
    gap: 0.5rem;
}

main.equipe {
    padding: 2rem;
    padding-top: 1rem;
    gap: 1rem;
}

main.equipe div.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: justify;
}

main.equipe div.equipe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    text-align: justify;
}

main.equipe div.equipe h2 {
    margin-bottom: 1rem;
}

main.propostas {
    padding: 0.75rem;
    gap: 0.75rem;
}

main.propostas img {
    width: 100%;
}

main.contato {
    gap: 0.5rem;
    padding: 2rem;
}

main.contato div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

main.contato h2 {
    font-size: large;
    margin-bottom: 1rem;
}

main.contato span:first-of-type {
    padding-top: 0.5rem;
}

main.contato span:first-of-type i {
    color: var(--linkedin-icon);
}

main.contato span:last-of-type {
    padding-bottom: 0.5rem;
}

main.contato span:last-of-type i {
    color: var(--email-icon);
}

main.contato span a {
    color: var(--links);
}

main.politicas {
    padding: 2rem;
    display: grid;
}

main.politicas ul {
    padding-block: 1rem 2rem;
    list-style: inside;
}

main.politicas li {
    padding-bottom: 0.75rem;
}

main.politicas a {
    font-size: medium;
    text-decoration: none;
}

main.politicas i {
    margin-left: 0.5rem;
}

footer {
    background-image: url("./assets/footer.jpg");
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

footer span {
    color: var(--footer-txt);
}

footer img {
    width: 3rem;
}

@media (min-width: 1024px) {
    * {
        font-size: medium;
    }

    nav {
        justify-content: space-between;
        padding-inline: 2rem;
    }

    nav i {
        display: none !important;
    }

    nav div {
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-direction: row;
        position: static;
        width: fit-content;
    }

    nav div a {
        display: inline-block;
    }

    nav div a:last-of-type {
        margin-bottom: 0;
    }

    .hero {
        height: 250px;
    }

    h1 {
        font-size: 1.25rem;
    }

    section#inicial {
        height: 40vh;
    }

    main.inicial {
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
    }

    main.inicial h2 {
        font-size: 1.2rem;
    }

    main.equipe {
        padding-inline: 12rem;
    }

    main.propostas {
        align-items: center;
    }

    main.propostas img {
        width: 60%;
    }

    main.politicas {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    main.contato {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
    }
}
